.form-container {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  align-items: center;
}

.form-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 40px;
  align-items: center;
}

.form-elements > input {
  width: 50%;
}

.form-btn {
  width: 30%;
  height: 30px;
  justify-self: center;
}
