.create-deal {
  width: 20%;
  position: fixed;
  bottom: 0%;
  left: 0%;
  margin: auto 25px;
  height: 5vh;
  color: white;
  background-color: green;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
}

.deals-list {
  width: 40%;
  height: 90vh;
  overflow-y: scroll;
}

.deals-container {
  width: 60%;
  border-right: 4px solid blueviolet;
}

.deal-transact {
  display: flex;
  flex-direction: row;
}
