.deal-container {
  width: 90%;
  margin: 10px;
  padding: 5px;
  background-color: white;
}

.deal-container > button {
  width: 100%;
  border-radius: 10px;
}

.deal-container > button:hover {
  background-color: aquamarine;
}

.deal-row {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid black; */
}

.deal-btn {
  display: flex;
  flex-direction: column;
}

.deal-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.deal-content > p {
  margin-bottom: 0px;
}

.deal-head {
  justify-content: space-around;
  align-items : center;
  font-weight: bold;
}

.deal-content p:last-child {
  font-weight: bolder;
  margin-left: 5px;
}

.deal-balance {
  justify-content: center !important;
  align-self: center;
  font-size: large;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0;
  background-color: green;
  color: white;
}

.deal-balance p {
  align-content: center;
  margin: 5px 0;
}