.transaction-first-four {
  width: 5vw;
}

.transactions-remark {
  width: 14vw;
}

.edit-delete {
  width: 3vw;
}

.transaction-first-four,
.transactions-remark,
.edit-delete,
.transaction-first-four-sent-receive {
  border-right: 1px solid black;
  text-align: center;
  margin: 0;
}

.side-transactions-table-body-content {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid blueviolet;
  width: 100%;
}

.transaction-first-four-sent-receive {
  width: 7vw;
}
